@font-face {
	font-family: "amorpheusregular";
	src: url("fonts/amorpheusregular.otf");
}

body {
	background-image: url(images/background.jpg);
	overflow: hidden;
	background-size: cover;
	margin: 0;
	
}

#top-bar {
	height: 10%;
    background: rgba(200, 210, 190, 0.3);
    border-bottom: solid #b18a76ba 5px;
    position: relative;
}

#top-bar #logo {
	width: 100%;
	height: 100%;
	background-image: url(images/logo-en.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#top-bar #cge-logo {
    height: 100%;
    width: 20%;
    background: url(images/cge-logo.jpg);
    position: absolute;
    top: 0;
    left: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	transition: transform .2s;
}

#top-bar #cge-logo:hover {
	transform: scale(1.2);
}

#draw-number, #discard-number {
    width: 5vw;
    background: red;
    height: 5vw;
    font-size: 5vw;
    text-align: center;
    position: absolute;
    left: 2vw;
}

#draw-number {
	top: 2vw;
}
#discard-number {
	bottom: 6vw;
}

#card-area {
	position: relative;
	height: 90%;
}

.card-wrap {
	filter: drop-shadow(2px 4px 6px black);
	-webkit-transform-style: preserve-3d;
	
	transition: transform 1s, opacity .5s, left 1s, top 1s, filter .3s;
	position: absolute;
}

.card-wrap * {
	pointer-events: none;
}

.card-front {
    background: url(images/card-background.jpg);
    background-size: cover;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-wrap .card-back {
    transform: rotateY(180deg);
    transform-origin: center;
	background: url(images/card-back.jpg);
    background-size: cover;
}

.card-front * {
    color: #e0e0e0;
    text-align: center;
	margin: 0;
}

.card-front h2 {
	font-family: amorpheusregular, arial;
}

.card-front .card-image {
	flex: 1 1 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px;
}


#card-0 .card-image {
	background-image: url(images/card1.jpg);
}

.card-wrap .card-front, .card-wrap .card-back, .card-wrap {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	position: absolute;
	width: 300px;
    height: 200px;
	box-sizing: border-box;
    border-radius: 18px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-origin: center;
}



.rotate-wrap {
    transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card-wrap.flipped .rotate-wrap {
	transform: rotateY(180deg);
}

button {
	position: absolute;
    font-size: 2vw;
    padding: 17px;
	transition: top 1s, left 1s, transform .2s, width 1s, height 1s, opacity 1s;
	z-index: 200;
	padding: 0;
	border-radius: 10000px;
	border-color: #eb7134;
}
#draw-button:hover, #discard-button:hover {
	transform: translate(-50%, -50%) scale(2.7);
}
#draw-button:active, #discard-button:active {
	transform: translate(-50%, -50%) scale(2.3);
}

.card-wrap:hover  {
	filter: drop-shadow(0px 0px 9px yellow);
}

#draw-button {
    background: url(images/plus-button.png);
    background-size: cover;
    border-radius: 0;
    border: none;
    transform: translate(-50%, -50%) scale(2.5);
    left: 50%;
    top: 20%;
}

#draw-button.small {
	transform: translate(-50%, -50%);
}

#discard-button {
	background: url(images/x-button.png);
    background-size: cover;
    border-radius: 0;
    border: none;
	transform: translate(-50%, -50%) scale(2);
	left: 91%;
	top: 10%;
}
:is(#discard-button, #discard-all-button).hidden {
	opacity: 0;
}

#discard-all-button {
	bottom: 6vw;
	left: 27vw;
	padding: 1vw;
}

#reshuffle-discard-button {
	bottom: 6vw;
	left: 8vw;
	padding: 1vw;
}

#help-text {
    color: white;
    background: rgba(50, 80, 240, 0.85);
    border: solid blue 5px;
    border-radius: 2vw;
    padding: 2vw;
    position: absolute;
    bottom: 25px;
    font-size: min(30px, 3.5vw);
    margin: 6vw;
    opacity: 0;
    transition: opacity .5s;
    z-index: 200;
    pointer-events: none;
}
#help-text.visible {
	opacity: 1;
	pointer-events: all;
}

button#help-button {
	position: absolute;
    bottom: 6vw;
    right: 3vw;
    padding: 1vw;
    background: #6262d3;
    z-index: 201;
}